body{
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    text-align: center;
   
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    text-align: left;
    color: rgb(24, 24, 24);
}
.nav-color{
    color: rgb(253, 110, 10);
}
nav >ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
    background: rgb(253, 110, 10);
}
.header{
    background-image: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-color: rgb(255, 248, 243);
    background-position: bottom right ,bottom left;
}
.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 585px;
}
.banner-header{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 5px;
}
.banner-greeting{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    
}
.banner-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    }
.apon-pic{
    width: 584px;
    height: 676px;
}
main{
    width: 1140px;
    margin: 130px auto;
    padding: 131px 157px; 
}
.about{
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 131px 157px;
}
.section-head{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-info{
    margin-right: 50px;
    text-align: center;
}
.about-header{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #757575;
    margin-bottom: 0;
}
.about-description{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #474747;
    margin-top: 0;
}
#what-i{
    padding-top: 130px;
}
#what-i-do{
    padding: 30px 116px;
    text-align: center;
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 33px;
    }
.skill-heading{
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    }
.skill-description{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    }
    /* resume section */

.resume-container{
        display: flex;
        gap: 50px;
        width: 1140px;

    }
.resume-info{
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    }
.resume-title{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    }
.resume-skill{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}
.resume-description{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
    width: 511px;
}
hr{
    width: 558px;
    margin-right: 24px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background: rgb(255, 248, 243);
    padding: 130px 250px;
    
}
.footer-column{

}